.logo{
    width:60px;
    height:60px;
}

.logo-text{
    font-family: arial;
    font-size: 15px;
    font-weight: 550;
}

.search-input{
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    outline:none;
    margin-right:10px;
}

.icon{
    font-size:20px;
}
.icon:hover{
    cursor:pointer;
}
